<!DOCTYPE html>
<html>
<head>
  <title><%= current_user.present? ? "Habits for #{current_user.name}: HabitualApp" : "HabitualApp: Making habits that stick" %></title>
  <%= stylesheet_link_tag ["reset.css", "sticky_footer","defaults.css", "layout.css", "shared.css", "pages.css"] %>
  <%= javascript_include_tag ["lib/jquery-1.4.4.min", 
                              "lib/js-model-0.9.4.min", 
                              "lib/date",
                              "lib/sammy-0.6.2.min", 
                              "models/habit",
                              "models/featured_habit",
                              "models/completed_habit",
                              "models/friends_habit",
                              "plugins/completed_habit_list",
                              "plugins/friends_habits_list",
                              "plugins/habit_list"] %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= csrf_meta_tag %>
  <%= yield :head %>
  
  <script type="text/javascript" charset="utf-8">
    var logout = $.sammy(function(){
      this.get("#/logout", function(){
        FB.logout();
      })
    });
    
    $(function() {
      logout.run();    
    });
  </script>
  <%= render :partial => "shared/google_analytics" %>
</head>
<body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
  <div id="wrap">
  	
  	<div id="header">
  	  <div id="top">
  	    <div id="fb_like">

          <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/apps/application.php?id=185834758098055" show_faces="false" width="550" font="verdana"></fb:like>
  	    </div>

        <%= render :partial => "shared/super_nav" %>
  	  </div>
  	  <div id="masthead">
        <div id="logo"></div>
  	  </div>
  	  
  	  <div class="clearfix">
  	   
  	  </div>
      
      <div id="nav">
        <ul>
          <li class="selected">Habits</li>
        </ul>
      </div>
      <div id="breadcrumbs">
        
      </div>
      
      <div id="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
  	</div>
  	
  	<div id="main">
  	  <div id="primary">
        <%= yield %>
  	  </div>
      <div id="secondary">
        <%= yield :secondary %>
      </div>
  	</div>
  	
  </div>

  <div id="footer">
    <%= render :partial => 'shared/footer_content' %>
  </div>



<%= render :partial => 'shared/facebook_jds_sdk' %>

</body>
</html>
