<!DOCTYPE html>
<html>
<head>
  <title>HabitualApp: Making Habits that Stick</title>
  <META NAME="Description" CONTENT="Break bad habits and create good habits. A free online tool.">
  <%= stylesheet_link_tag ["reset.css", "sticky_footer","defaults.css", "layout.css", "shared.css", "pages.css"] %>
  <%= javascript_include_tag ["lib/jquery-1.4.4.min", 
                              "lib/js-model-0.9.4.min", 
                              "lib/date",
                              "lib/sammy-0.6.2.min", 
                              "models/habit",
                              "models/featured_habit",
                              "models/completed_habit",
                              "models/friends_habit",
                              "plugins/completed_habit_list",
                              "plugins/friends_habits_list",
                              "plugins/habit_list"] %>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <%= csrf_meta_tag %>
  <%= yield :head %>
  
  <script type="text/javascript" charset="utf-8">
    var logout = $.sammy(function(){
      this.get("#/logout", function(){
        FB.logout();
      })
    });
    
    $(function() {
      logout.run();    
    });
  </script>
  <%= render :partial => "shared/google_analytics" %>
</head>
<body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
  
  <%= render :partial => 'layouts/clicktale_top' %>
  
  <div id="wrap">
  	
  	<div id="header">
    <%= render :partial => "shared/super_nav" %>
  	  <div id="masthead">
        <div id="logo"></div>
  	  </div>
      

      
      <div id="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
  	</div>
  	
  	<div id="main">
  	 
        <%= yield %>
  	 
  	</div>
  	
  </div>

  <div id="footer">
    <%= render :partial => 'shared/footer_content' %>
  </div>



<%= render :partial => 'shared/facebook_jds_sdk' %>
<%= render :partial => 'layouts/clicktale_bottom' %>

</body>
</html>
