<!DOCTYPE html>
<html>
<head>
  <title>HabitualApp: Making habits that stick</title>
  <%= stylesheet_link_tag ["reset.css", "sticky_footer","defaults.css", "layout.css", "shared.css", "pages.css"] %>
  <link rel="shortcut icon" href="/favicon.ico">
  <%= csrf_meta_tag %>
  <%= yield :head %>
  
  <%= render :partial => "shared/google_analytics" %>
</head>
<body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
  <%= render :partial => 'layouts/clicktale_top' %>
  
  <div id="wrap">
  	
    <%= render :partial => 'layouts/header' %>
    
  	<div id="main">
  	  <div id="primary">
        <%= yield %>
  	  </div>
      <div id="secondary">
        <%= yield :secondary %>
      </div>
  	</div>
  	
  </div>

  <div id="footer">
    <%= render :partial => 'shared/footer_content' %>
  </div>



<%= render :partial => 'shared/facebook_jds_sdk' %>
<%= render :partial => 'layouts/clicktale_bottom' %>
</body>
</html>
